@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Lato:ital,wght@0,300;0,400;1,400&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
:root {
	/* primary colors and fonts */
  --secondary-bgc: #eee3cb;
	--white: #fafafa;
	--blk-text: #272829;
	--header: #4d1f07;
  --fanwood: 'Fanwood Text', serif;
  --lato: 'Lato', sans-serif;
  --roboto: 'Roboto Flex', sans-serif;
}

/* Background color to the body */
body {
  background-image: linear-gradient(to bottom right, #3f9cba, #b6e8e9);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Outline for header and main game section */
.outline {
  width: 100%;
  border: 4px solid var(--secondary-bgc);
  border-radius: 10px;
  background: linear-gradient( to bottom right, #3f9cb1, #b6e8e9 );
}

 /* Wrapps the page within the body */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  min-height: 90vh;
  gap: 16px;
}
/* Start of header text styling*/
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 18px;
}

.h1-wrapper {
  height: 15vw;
  min-height:75px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px
}

.h1-nutty, .h1-math {
  font-size: 2.25rem;
  font-family: var(--roboto-bold);
  font-weight: 900;
  color: var(--header);
  letter-spacing: 1px;
  z-index: 2;
}

/* Position header text*/
span:first-child {
  text-align: right;
}

/* Postions squirrel image*/
.header-img-wrapper {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center,
  z-index:1;
}

/*Squirrel img in header*/
.header-img{
  height: auto;
  width: 100%;
}

/* Wraps the index.html main element */
.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  padding: 1rem ;
}

 /* Start of the name input home page */
 .form-wrapper-home{
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 8px;
 }

.name-input-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

label {
  font-size: 2rem;
}

.amount-label{
  font-size: 1rem;
}

.name-input-wrapper > input {
  width: 100%;
  padding: 8px;
  font-size: 1.0rem;
  border: 4px solid var(--header);
  border-radius: 10px;
  background-color: rgba(238, 227, 203, 0.9);
}

  /* For the instruction wrapper home page */
.instruction-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-top: 16px;
  line-height: 20px;
  border: 4px solid var(--header);
  border-radius: 10px;
  background-color: rgba(238, 227, 203, 0.9);
}

.instruction-wrapper > p:last-child {
  align-self: center;
  padding-top: 8px;
  font-size: 1.25rem;
}

.instruction-headers {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.25rem;
  color: var(--header);
}

.instruction-wrapper P {
  padding: 0 6px;
  text-align: left;
  font-size: 12px;
}

.first-name {
  color: var(--header-text);
  font-styling: italic;
  font-weight: 900;
}

.challenge-total-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
}

.challenge-total-wrapper > input {
  width: 25px;
  text-align: center;
  background-color: transparent;
  margin-right: 16px;
  margin-bottom: -4px;
}

/* Default style to buttons*/
.button {
  padding: 6px 12px;
  background-color: var(--secondary-bgc);
  border-radius: 10px;
  border-color: var(--header);
}

/* Home page play/submit button */
.goto-game-btn {
  width: 100%;
  color: var( --secondary-bgc);
  margin: 8px 0;
  padding: 5px 20px;
  font-size: 1.5rem;
  border: 2px solid var(--secondary-bgc);
  background-color: var(--header);
}

/* Footer containes social links and an extra back arrow*/
#footer-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.social-icon-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-evenly;

  border-top: 2px solid var(--secondary-bgc);
}

 .social-icon-wrapper > a {
  padding: 10px 15px;
  width: 100%
  text-decoration: none;

 }

 .svg-icon {
  fill: var(--header);
  background-color: var(--secondary-bgc);
  border-radius: 8px;
  transition: background 0.3s;
 }

.svg-icon:hover {
  fill: var(--secondary-bgc) ;
  background-color: var(--header);
  opacity: 0.5;
}

