@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Lato:ital,wght@0,300;0,400;1,400&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}
:root {
	/* primary colors and fonts */
  --secondary-bgc: #eee3cb;
	--white: #fafafa;
	--blk-text: #272829;
	--header: #4d1f07;
  --fanwood: 'Fanwood Text', serif;
  --lato: 'Lato', sans-serif;
  --roboto: 'Roboto Flex', sans-serif;
}

/* Background color to the body */
body {
  background-image: linear-gradient(to bottom right, #3f9cba, #b6e8e9);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Wraps the game page */
.outline {
  width: 100%;
  border: 4px solid var(--secondary-bgc);
  border-radius: 10px;
  background: linear-gradient( to bottom right, #3f9cb1, #b6e8e9 );
}

 /* Wrapps the page within the body */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  min-height: 90vh;
  gap: 16px;
}

/* Start of header text styling*/
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 18px;
}

.h1-wrapper {
  height: 15vw;
  min-height:75px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px
}

.h1-nutty, .h1-math {
  font-size: 2.25rem;
  font-family: var(--roboto-bold);
  font-weight: 900;
  color: var(--header);
  letter-spacing: 1px;
  z-index: 2;
}

/* Position header text*/
span:first-child {
  text-align: right;
}

/* Postions squirrel image*/
.header-img-wrapper {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center,
  z-index:1;
}

/*Squirrel img in header*/
.header-img{
  height: auto;
  width: 100%;
}

/* Wraps the index.html main section */
.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  margin: auto 0;
  padding: 1rem ;
  gap: 16px;
}

 /*  Name input */
 .form-wrapper-home{
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 8px;
 }

.name-input-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.home-label {
    font-size: 1rem;
 }

.number-input{
  font-size: 1rem;
}

.name-input-wrapper > input {
  width: 100%;
  padding: 8px;
  font-size: 1.0rem;
  border: 4px solid var(--header);
  border-radius: 10px;
  background-color: rgba(238, 227, 203, 0.9);
}

  /* Instruction wrapper home page */
.instruction-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-top: 16px;
  line-height: 20px;
  border: 4px solid var(--header);
  border-radius: 10px;
  background-color: rgba(238, 227, 203, 0.9);
}

.instruction-wrapper > p:last-child {
  align-self: center;
  padding-top: 8px;
  font-size: 1.25rem;
}

.instruction-headers {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.25rem;
  color: var(--header);
}

.instruction-wrapper P {
  padding: 0 6px;
  text-align: left;
  font-size: 12px;
}

.first-name {
  color: var(--header-text);
  font-styling: italic;
  font-weight: 900;
}

.challenge-total-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
}

.challenge-total-wrapper > input {
  width: 25px;
  text-align: center;
  background-color: transparent;
  margin-right: 16px;
  margin-bottom: -4px;
}

/* Default style to buttons*/
.button {
  padding: 6px 12px;
  background-color: var(--secondary-bgc);
  border-radius: 10px;
  border-color: var(--header);
}

/* Home page play/submit button */
.goto-game-btn {
  width: 100%;
  color: var( --secondary-bgc);
  margin: 8px 0;
  padding: 5px 20px;
  font-size: 1.5rem;
  border: 2px solid var(--secondary-bgc);
  background-color: var(--header);
}

/* Back arrow link to home page */
.arrow-wrapper{
  align-self: flex-start;
}

.back-arrow {
  width: 30px; 
}

/* Push the header up closer to the back arrow link*/
.game-header {
  margin-top: -18px;
}

/* Contains the game image and scoreboard */
.game-main-container  {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.game-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Wrapper for game image (Squirrel)*/
.game-image-wrapper {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(7, 1fr);
    background-image: url(../images/main-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    aspect-ratio: .95;
    justify-content:center;
    align-items: center;
}

/* Wrapper for message bubble that will be display with JS*/
.bubble-bg-img {
  grid-area: 1/ 2/6/7;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(11, 1fr);
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bubble-mobile.webp);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  aspect-ratio: 3/2;
}

/* Placement of bubble message in game image*/
.bubble-message {
  grid-area: 3/4/4/10;
  text-align: center;
  padding: 0;
}

/* Scoreboard */
.game-scoreboard {
  grid-area: 2/1/2/4;
  display: flex;
  flex-direction: column;
  border: 4px solid var(--header);
  border-radius: 10px;
  background-color: rgba(238, 227, 203, 0.7);
}

.score-board-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.game-scoreboard {
  width: 100%;
  height: auto;
  order: 1;
}

.game-scoreboard h3{
  font-size: 1.75rem;
  text-align: center;
}

.total-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totals {
  display: flex;
  
}

.totals > h4, p {
  text-align: center;
  font-size: 1.25rem;
  padding-top: 6px;
}

 .totals > p {
  padding-left: 6px;
 }


/* Acorn image list */
 ul {
  align-self: flex-start;
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
 } 
 
 .acron-list-wrapper {
  width: 90%;
  margin: 30px auto;
  border-top: 2px solid var(--header);
 }


 /* Wrapper for button section dynamicly display in JS*/
 .game-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Default display with DOMloaded */
#newTotalInput,
#playAgainButton,
#replayButton, 
.game-label{
  display: none;
}

.player-input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4px;
  gap: 4px;
}

/* Players wrapper for math question and palyer inout answer  */
.math-input {
  width: 100%;
}

.player-input-wrapper {
  display: flex;
  justify-content: center;
  padding: 6px 12px;
  border: 4px solid var(--header);
  border-radius: 10px;
  background-color: rgba(238, 227, 203, 0.9);
}

/* Math problem for user to enter answer */
h3.math-question {
  font-size: 2rem;
}

input {
  width: 32px;
  height: 32px;
  margin-rigth: 20px;
  text-align: center;
}

/* Player answer input*/
#playerInput {
  background: transparent;
  border: transparent;
  outline: none;
  border-bottom: 2px solid var(--header);
  margin-top: 4px;
  width: 4rem;
  margin-left: 4px;
  font-size: 2rem;
}

.play-input:focus {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--header);
}



/* Footer containes social links and an extra back arrow*/
#footer-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.social-icon-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid var(--secondary-bgc);
}

 .social-icon-wrapper > a {
  padding: 10px 15px;
  width: 100%
  text-decoration: none;
 }

 .svg-icon {
  background-color: var(--secondary-bgc);
  border-radius: 8px;
  transition: background 0.3s;
 }

.svg-icon:hover {
  background-color: red;
  opacity: 0.5;
}

/*Media Queries*/
@media only screen  and (min-width: 1201px) and (max-width: 467px){
body {
  width: 100%;
}
}

/* Small mobile */
@media only screen  and (min-width: 320px) and (max-width: 467px){
.h1-nutty, .h1-math {
  font-size: 3rem;
}

.home-label {
    font-size: 1.25rem;
 }

.instruction-headers {
  font-size: 1.25rem;
}

.instruction-wrapper > p:last-child {
  font-size: 1.5rem;
}

.form-wrapper-home{
  width: 65vw;
 }

.goto-game-btn {
  font-size: 2rem;
}

 .game-scoreboard  h3{
  font-size: 2rem;
}

}

/* Mobile iPads/tablets (468px - 768px) */
@media only screen and (min-width: 468px) and (max-width: 768px){


.container {
  width: 90%;
  min-height: 85vh;
  margin: 0 auto;
}

.h1-wrapper {
  height: 10vw;
}

.h1-nutty, .h1-math {
  font-size: 3rem;
}

.form-wrapper-home{
  width: 50vw;
 }

 .home-label {
    font-size: 1.25rem;
 }

 .goto-game-btn {
  font-size: 2rem;
}

.instruction-wrapper {
  max-width: 80vw;  
  line-height: 22px;
}

.instruction-headers {
  font-size: 1.5rem;
}

.instruction-wrapper P {
  font-size: 1rem;
}

.instruction-wrapper > p:last-child {
  font-size: 1.5rem;
}

/* Wraps the header and game page */
.outline-game {
  width: 100%;
  margin-top: 40px;
  border: 4px solid var(--secondary-bgc);
  border-radius: 10px;
  background: linear-gradient( to bottom right, #3f9cb1, #b6e8e9 );
  padding: 1rem;
}

.game-wrapper {
  flex-direction: row;
}

.game-image-wrapper {
  width: 55%;
  order: 2;
}

.game-scoreboard {
  width: 45%;
  padding: 6px 8px;
  height: auto;
  order: 1;
}

 .game-scoreboard  h3{
  font-size: 1.75rem;
}

.totals {
  align-self: flex-start;
}

}

/* Small screens: laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

.container {
  width: 90%;
  margin: 0 auto;
}

.h1-wrapper {
  height: 5vw;
}

.h1-nutty, .h1-math {
  font-size: 3.5rem;
}

.form-wrapper-home{
  width: 40vw;
 }

.home-label {
    font-size: 1.25rem;
 }

.goto-game-btn {
  font-size: 2rem;
}

.instruction-wrapper {
  max-width: 60vw;  
  line-height: 24px;
}

.instruction-headers {
  font-size: 1.5rem;
}

.instruction-wrapper P {
  font-size: 1.25rem;
}

.instruction-wrapper > p:last-child {
  font-size: 1.5rem;
}

.outline-game {
  width: 100%;
  border: 4px solid var(--secondary-bgc);
  border-radius: 10px;
  background: linear-gradient( to bottom right, #3f9cb1, #b6e8e9 );
  padding: 1rem;
}

.game-wrapper {
  flex-direction: row;
}

.game-image-wrapper {
  width: 60%;
  order: 2;
}

.game-scoreboard {
  width: 40%;
  padding: 6px 8px;
  height: auto;
  order: 1;
}

.game-scoreboard h3 {
  font-size: 2.0rem;
}

.totals {
  align-self: flex-start;
}

.totals > h4, p {
  text-align: center;
  font-size: 1rem;
  padding-top: 6px;
} 
}

/* Large screens: desktops*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

.container {
  width: 70%;
  margin: 0 auto;
}

.h1-wrapper {
  height: 4.5vw;
}

 .h1-nutty, .h1-math {
  font-size: 4rem;
}

.form-wrapper-home{
  width: 35vw;
 }

.home-label {
    font-size: 1.5rem;
 }

.goto-game-btn {
  font-size: 2rem;
}

.instruction-wrapper {
  max-width: 60vw;  
  line-height: 26px;
}

.instruction-headers {
  font-size: 1.5rem;
}

.instruction-wrapper P {
  font-size: 1.25rem;
}

.instruction-wrapper > p:last-child {
  font-size: 1.5rem;
}

.outline-game {
  width: 100%;
  border: 4px solid var(--secondary-bgc);
  border-radius: 10px;
  background: linear-gradient( to bottom right, #3f9cb1, #b6e8e9 );
  padding: 1rem;
}


.game-wrapper {
  flex-direction: row;
}

.game-main-container {
  border-radius: 10px;
  gap: 4px;
}

.game-image-wrapper {
  width: 60%;
  order: 2;
}

.game-scoreboard {
  width: 40%;
  padding: 6px 8px;
  height: auto;
  order: 1;
}

.game-scoreboard h3{
  font-size: 2.5rem;
}

.totals {
  align-self: flex-start;
}

}

/* Extra large screens above 1201px */
 @media only screen and (min-width: 1201px) {
.container {
  width: 50%;
  margin: 0 auto;
}

.h1-container {
  height: 5vw;
}

.h1-wrapper {
  height: 5vw;
}

.h1-nutty, .h1-math {
  font-size: 4rem;
}

.form-wrapper-home{
  width: 35vw;
 }

.home-label {
    font-size: 1.75rem;
 }
 
 .goto-game-btn {
  font-size: 2rem;
}

.instruction-wrapper {
  max-width: 60vw;  
  line-height: 26px;
}

.instruction-headers {
  font-size: 2rem;
}

.instruction-wrapper P {
  font-size: 1.25rem;
}

.instruction-wrapper > p:last-child {
  font-size: 1.5rem;
}

.outline-game {
  width: 100%;
  border: 4px solid var(--secondary-bgc);
  border-radius: 10px;
  background: linear-gradient( to bottom right, #3f9cb1, #b6e8e9 );
  padding: 1rem;
}

.game-wrapper {
  flex-direction: row;
}

.game-main-container {
  border-radius: 10px;
  gap: 4px;
}

.game-image-wrapper {
  width: 60%;
  order: 2;
}

.game-scoreboard {
  width: 40%;
  padding: 6px 8px;
  height: auto;
  order: 1;
}

.game-scoreboard h3{
  font-size: 2.5rem;
}

.totals>h4 p {
  font-size: 2rem;
}

.totals {
  align-self: flex-start;
}

.social-icon-wrapper {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  padding-top:14px;
}



}
